body{
    background-color: bisque;
}

#quizBackground{
    width: 80vw;
    height: 90vh;
    background-color:aliceblue;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

#answerSection{
    height:60%;
    width: 90%;
    order: 2;
}
.ansButton{
    height: 20vh;
    width:15vw;
    background-color: aqua;
}

/* #miscSection{
    order: 2;

} */
/* 
.miscButton{

} */

#questionText{
    text-align: center;
    margin: auto;
    order: 1;
}

#title{
    width:50vw;
    text-align: center;
    margin: auto;
}